//
// Dark Theme
//

::selection {
    background-color: darken($color1, 12%);
}

a,
a:visited {
    color: lighten($color1, 30%);
}

.site-header {
    border-top-color: darken($color1, 20%);
    border-bottom-color: darken($color1, 20%);
    box-shadow: 0px 0 8px 0px rgba($color1, 0.5);
    border-bottom: 1px solid darken($color1, 30%);
    background-color: darken($color1, 10%);
    background-image: linear-gradient(to bottom, $color1, darken($color1, 10%));

    .site-title,
    .page-link {
        color: #fff;
    }
}


.site-nav {
    @include media-max-width($on-palm) {
        background-color: darken($color1, 5%);
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
        border-color: darken($color1, 5%);
    }

    label[for="nav-trigger"] {
        background-color: $color1;
    }

    .menu-icon svg path {
        fill: lighten($color1, 35%);
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

}


// Btn Toggler Theme Dark
.theme-toggler {
    user-select: none;
    span {
        color: #fff;
    }
}

.toggle-dark {
    + .btn-toggler {
        background-color: rgba($color1, 0.2);
        border: 1px solid lighten($color1, 30%);
        &:after {
            background: #fff;
        }
    }

    &:checked + .btn-toggler {
        background: $color1;
        border-color: darken($color1, 5%);
    }
}

.post-link {
    color: $color1;
    &:visited {
        color: $color1;
    }
    &:hover {
        text-decoration: none;
    }
}

//
// Game list dark theme.
//

.page-content {
    //background-color: darken($color1, 20%);
    background-color: $color1;
    border-top: 1px solid lighten($color1, 18%);
    border-bottom: 1px solid lighten($color1, 18%);
}

.home {
    .game {
        background-color: darken($color1, 10%);
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5) inset;
        border-radius: 5px;
        border: 1px solid darken($color1, 15%);

        a {
            color: lighten($color1, 35%);
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            transition: color 0.2s linear 0s;
            &:hover {
                color: #fff;
            }
        }

    }
}

//
// Post page, dark theme.
//
.post {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

//
// Footer, dark theme.
//
.site-footer {
    color: lighten($color1, 30%);
    border-top-color: darken($color1, 20%);
    background-color: darken($color1, 10%);
    background-image: linear-gradient(to bottom, darken($color1, 10%), $color1);

    .social-media-list,
    .contact-list {
        a {
            color: lighten($color1, 25%);
        }
    }
}

.footer-col-wrapper {
    color: #fff;
}

