//
// Light Theme
//

a,
a:visited {
    color: $color1;
}

.site-header {
    background-color: lighten($color1, 54%);
    border-top-color: lighten($color1, 10%);
    box-shadow: 0px 0 8px 0px rgba($color1, 0.2);
    border-bottom-color: lighten($color1, 40%);

    .site-title,
    .page-link {
        color: $color1;
        &:hover {
            text-decoration: none;
            color: darken($color1, 10%);
        }
    }
}


.post-link {
    color: $color1;
    &:visited {
        color: $color1;
    }
    &:hover {
        text-decoration: none;
    }
}

// Btn Toggler Theme Light
.theme-toggler {
    user-select: none;
    span {
        color: $color1;
    }
}

.toggle-dark {
    + .btn-toggler {
        background-color: rgba($color1, 0.2);
        border: 1px solid lighten($color1, 30%);
        &:after {
            background: #fff;
        }
    }

    &:checked + .btn-toggler {
        background: $color1;
        border-color: darken($color1, 5%);
    }
}


//
// Game list light theme.
//

.home {
    li {
        background-color: rgba($color1, 0.05);
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        border: 1px solid lighten($color1, 40%);
    }
}

