$darkTxtColor = #333
$lightTxtColor = #fff

/* latin-ext */
@font-face
  font-family: 'Audiowide'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Audiowide Regular'), local('Audiowide-Regular'), url('../statics/fonts/Audiowide-Regular-ext.woff2') format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
/* latin */
@font-face
  font-family: 'Audiowide'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Audiowide Regular'), local('Audiowide-Regular'), url('../statics/fonts/Audiowide-Regular.woff2') format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
*
  box-sizing: border-box
  padding: 0
  margin: 0

html
  width: 100%
  height: 100%

body
  margin:0!important
  min-height: 275px
  min-width: 300px
  font-family: 'Audiowide', cursive;
  &.no-scroll-bar
    scrollbar-width: none!important /* Firefox */
    -ms-overflow-style: none!important  /* IE 10+ */
    resize: none

  &.no-scroll-bar::-webkit-scrollbar /* WebKit */
    width: 0!important
    height: 0!important
    background: transparent

  .q-table-container
    background: $lightTxtColor

  textarea
    resize: none

  #app
    width: 100%
    height: 100%
    font-weight: 300
    color: $darkTxtColor
    background-color: $lightTxtColor
  //overflow-x: hidden

  p
    margin: 15px

  section
    &.contact
      color: #666

    .section-heading
      margin-bottom: 1.5em
      padding: 0 20px

    &.overview

      .q-card
        width:inherit
        max-width: 1440px
        height: 100%
        margin: auto
        overflow: hidden

    .inherit-width
      width: inherit

    .basic-container
      margin: 65px auto 30px

  .btn:hover, .btn:focus
    outline: none

  .centered
    resize: vertical
    overflow: inherit

  .center
    text-align: center
    overflow: inherit

  .margin-auto
    margin: auto

  .basic-container
    overflow: auto
    width: 100%
    padding: 0 22px;

  .q-carousel
    background: #D2D4C8;
    padding-top: 35px;
  .q-carousel-quick-nav
    background: none
  .q-carousel-inner
    padding: 0 0 2em;
  .q-carousel-left-arrow
    left: 2%
  .q-carousel-right-arrow
    right: 2%

  .q-btn
    padding: 4px 8px;

  .q-table th, .q-table td
    font-size: 12px;
    white-space: normal

  .q-table th.nowrap, .q-table td.nowrap
    white-space: nowrap

  .small
    font-size: 80%

@media screen and (max-width: 575px)
  body
    h2
      font-size: 26px
    .q-carousel-left-arrow, .q-carousel-right-arrow
      display: none

    .hidden-xs
      display: none!important

    .shown-xs
      display: block

@media screen and (min-width: 576px)
  .display-xs
    display: none

@media screen and (min-width: 768px) and (max-width: 991px)
  body
    font-size: 95%

    .q-btn
      font-size: 13px
  h2
    font-size: 42px

@media (max-height: 499px)
  body
    font-size: 14px

  footer .btn-circle
    width: 28px
    height: 28px
    margin-top: 0
    padding: 1px 0
    font-size: 13px

@media (min-height: 499px) and (max-height: 599px)
  body
    font-size: 15px

  footer .btn-circle
    width: 38px
    height: 38px
    margin-top: 0
    padding: 4px 0
    font-size: 15px

@media (max-height: 299px)
  .hidden-xsh
    display: none

  .about .section-heading
    display: none

  h2
    font-size: 22px

.fade-enter-active,
.fade-leave-active
  transition: opacity 0.7s ease

.fade-enter,
.fade-leave-to
  opacity: 0

.spin
  animation: spin
  animation-duration: 5s
  animation-iteration-count: 1

.clearfix
  clear: both

@keyframes spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(3600deg)

@keyframes shadow-pulse
  0%
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2)
  100%
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0)

.bounce-enter-active
  animation: bounce-in .5s

.bounce-leave-active
  animation: bounce-in .5s reverse

@keyframes bounce-in
  0%
    transform: scale(0)

  50%
    transform: scale(1.5)

  100%
    transform: scale(1)

@media (max-height: 699px)
  .game .heading-section
    display: none

$untestedColor = #C0C0C0
$darkColor = #232b2b
$errorColor = rgba(189,8,68,1)
$warningColor = rgb(255, 255, 51)
$averageColor = #bece67
$goodColor = #21BA45
$greatColor = #65ab65

.status

  &__X
    background: $untestedColor
    color: $lightTxtColor;
  &__0
    background: $darkColor
    color: $lightTxtColor;
  &__1
    background: $errorColor
    color: $lightTxtColor;
  &__2
    background: $warningColor
    color: $darkTxtColor
  &__3
    background: $averageColor
    color: $darkTxtColor
  &__4
    background: $goodColor
    color: $lightTxtColor;
  &__5
    background: $greatColor
    color: $lightTxtColor;

.q-rating
  background: inherit
  &.status
    &__X
      color: $untestedColor;
    &__0
      color: $darkColor;
    &__1
      color: $errorColor;
    &__2
      color: $warningColor;
    &__3
      color: $averageColor;
    &__4
      color: $goodColor;
    &__5
      color: $greatColor;

.animate-popup
  background: #666

.q-carousel-slide
  padding: 0
.average-wrapper
  .average
    &.stars
      padding: 0 10px
  //
  //.q-rating
  //  color: unset
.game-tests
  .q-table-container
    padding: 10px;
