*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  margin:0!important
  min-height: 275px
  min-width: 300px
  scrollbar-width: none!important /* Firefox */
  -ms-overflow-style: none!important  /* IE 10+ */
  resize: none

::-webkit-scrollbar /* WebKit */
  width: 0!important
  height: 0!important
  background: transparent

::-webkit-resizer
  display: none
  -webkit-appearance: none

.q-table-middle.scroll
  scrollbar-width: unset!important /* Firefox */
  -ms-overflow-style: unset!important  /* IE 10+ */

.q-table-middle.scroll::-webkit-scrollbar
  width: unset!important
  height: unset!important

.q-table-container
  background: white

textarea
  resize: none

#app
  width: 100%
  height: 100%
  font-family: 'Oswald'
  font-weight: 300
  color: #333333
  background-color: #fff
  overflow-x: hidden

html
  width: 100%
  height: 100%

p
  margin: 15px

section
  &.contact
    color: #666

  .section-heading
    margin-bottom: 1.5em

  &.overview

    .q-card
      width:inherit
      max-width: 1440px
      height: 100%
      margin: auto
      overflow: hidden

  .inherit-width
    width: inherit

.btn:hover, .btn:focus
  outline: none

.centered
  resize: vertical
  overflow: inherit

.center
  text-align: center
  overflow: inherit

.page-scroll
  text-align: center

.basic-container
  overflow: auto
  margin: 65px auto 30px;
  width: 90%

.q-carousel
  background: #D2D4C8;
  padding-top: 35px;
.q-carousel-quick-nav
  background: none
.q-carousel-inner
  padding: 0 0 2em;
.q-carousel-left-arrow
  left: 2%
.q-carousel-right-arrow
  right: 2%

.q-btn
  padding: 4px 8px;

.q-table th, .q-table td
  white-space: normal

.q-table th.nowrap, .q-table td.nowrap
  white-space: nowrap

@media screen and (max-width: 575px)
  h2
    font-size: 26px
  .q-carousel-left-arrow, .q-carousel-right-arrow
    display none

@media screen and (min-width: 768px) and (max-width: 991px)
  h2
    font-size: 42px

@media (max-height: 499px)
  body
    font-size: 14px

  footer .btn-circle
    width: 28px
    height: 28px
    margin-top: 0
    padding: 1px 0
    font-size: 13px

@media (min-height: 499px) and (max-height: 599px)
  body
    font-size: 15px

  footer .btn-circle
    width: 38px
    height: 38px
    margin-top: 0
    padding: 4px 0
    font-size: 15px

@media (max-height: 299px)
  .hidden-xsh
    display: none

  .about .section-heading
    display: none

  h2
    font-size: 22px

.fade-enter-active,
.fade-leave-active
  transition: opacity 1.3s ease

.fade-enter,
.fade-leave-to
  opacity: 0

.spin
  animation: spin
  animation-duration: 5s
  animation-iteration-count: 1

.clearfix
  clear: both

@keyframes spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(3600deg)

@keyframes shadow-pulse
  0%
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2)
  100%
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0)

.bounce-enter-active
  animation: bounce-in .5s

.bounce-leave-active
  animation: bounce-in .5s reverse

@keyframes bounce-in
  0%
    transform: scale(0)

  50%
    transform: scale(1.5)

  100%
    transform: scale(1)

@media (max-height: 699px)
  .game .heading-section
    display: none

$untestedColor = #C0C0C0
$darkColor = #232b2b
$errorColor = rgba(189,8,68,1)
$warningColor = rgb(255, 255, 51)
$averageColor = #bece67
$goodColor = #21BA45
$greatColor = #65ab65

.status

  &__X
    background: $untestedColor
    color: black;
  &__0
    background: $darkColor
    color: white;
  &__1
    background: $errorColor
    color: white;
  &__2
    background: $warningColor
    color: black;
  &__3
    background: $averageColor
    color: white;
  &__4
    background: $goodColor
    color: white;
  &__5
    background: $greatColor
    color: white;

.q-rating
  background: inherit
  &.status
    &__X
      color: $untestedColor;
    &__0
      color: $darkColor;
    &__1
      color: $errorColor;
    &__2
      color: $warningColor;
    &__3
      color: $averageColor;
    &__4
      color: $goodColor;
    &__5
      color: $greatColor;
