---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <h1>Status: {{ page.status }}</h1>
  <ul>
    {%- for release in page.releases -%}
      <li>{{ release.id }}/{{ release.medium }}/{{ release.version }}
    {%- endfor -%}
  </ul>
  <ul>
    {%- for video in page.videos -%}
      <li>{{ video.title }} ({{ video.fingerprint }}, {{ video.git }})
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ video.yt }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {%- endfor -%}
  </ul>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
