---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
    <h2 class="post-list-heading">Games</h2>
    <ul class="post-list">
      {%- for game in site.games -%}
      <li>
        <h3>
          <a class="post-link" href="{{ game.url | relative_url }}">
            {{ game.title | escape }}
          </a>
          Status: {{ game.status }}
          <div class="video-warper">
            <div class="video-placeholder" data-yt="{{ game.videos.first.yt }}">
              <i class="fa fa-play"></i>
            </div>
          </div>
        </h3>
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  

</div>
