---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
    <h2 class="post-list-heading">Games</h2>
    <ul class="post-list">
      {%- for game in site.games -%}
        <li class="game lazy" data-yt="{{ game.videos.first.yt }}">
          <h3>
            <a class="post-link" href="{{ game.url | relative_url }}">
              {{ game.title | escape }}
            </a>
            </h3>
            <div class="info stat">
                Status: {{ game.status }}
            </div>
              <div class="video-placeholder" data-yt="{{ game.videos.first.yt }}">
                  <img
                      class="video-thumbnail"
                      data-src="http://img.youtube.com/vi/{{ game.videos.first.yt }}/0.jpg"
                      src="{{ "/assets/images/placeholder-image-large.jpg?v=1" | relative_url }}"
                      alt="{{ game.title }}" />
                <i class="fa fa-play-circle js-play"></i>
              </div>
        </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>

<!-- vim: set filetype=liquid: -->
